<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/f7388fc437.js" crossorigin="anonymous"></script>
    
    <title>Bookers2</title>
  </head>
  
  <body>
    <main>
      <div class="container">
        <div class="row">
          <h1 class="px-3 mx-auto">Welcome to
            <i class="fas fa-book"></i>
            <strong>Bookers</strong>!
          </h1>
        </div>
      </div>
    </main>
  </body>
</html>