<!DOCTYPE html>
<html lamg="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/f7388fc437.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="XXX.css" />
    <title>Bookers2</title>
  </head>
    
  <body>
    
    <header>
      <h1 class="heading">
        <a href="/">
          Bookers
        </a>
      </h1>
      
      <nav>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a href="">Home</a>
          </li>
          <li class="nav-list-item">
            <a href="">Users</a>
          </li>
          <li class="nav-list-item">
            <a href="">Books</a>
          </li>
          <li class="nav-list-item">
            <a href="">Log out</a>
          </li>
        </ul>
      </nav>
    
    </header>
        
    <main>
      <h1>
        welcome to
        <strong>
          Bookers
        </strong>
        !!
      </h1>
      <p>
        In
        <strong>
          Bookers
        </strong>
        ,
      </p>
      <p>
        you can share and exchange your opinions , inpressions , and emotions
      </p>
      <p>
        about various books!
      </p>
      
    </main>
        
    <footer>
      <p>CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>